@model List<Szertar.Dal.Dto.ItemHeader>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Szertar.Dal.Entities.ApplicationUser> SignInManager

@{

	ViewData["Title"] = "Szertár";
}

<h1 class="display-4 text-center">Welcome</h1>

<div class="container">

	@foreach (var item in Model)
	{
		<div class="container-fluid m-3 bg-light">
			<div class="row justify-content-center">
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-12 text-left h3">
							@item.Name
						</div>
					</div>
					<div class="row">
						<div class="col-sm-auto">
							
								<img src="~/vendor/img/item.jpg" alt="TestItem" />
							
						</div>

						<div class="col-sm-7">
							<div class="row h-100">
								<div class="col-sm-12 text-left">@item.Description<br /><br /></div>
								<div class="col-sm-12 align-self-end">
									<div class="row justify-content-between align-self-end">
										<div class="col-sm-6 align-self-end">
											<div class="col-sm-12 text-left"><b>Készlet</b>:&nbsp;@item.Stock&nbsp;db</div>
											<div class="col-sm-12 text-left"><b>Bérelhető</b>:&nbsp;@item.AvailableCount&nbsp;db</div>
											<div class="col-sm-12 text-left"><b>Ár/nap</b>:&nbsp;@item.Price&nbsp;Ft</div>
										</div>
										<div class="col-sm-3 align-self-end">

											@if (SignInManager.IsSignedIn(User))
											{
												<form method="post" asp-controller="Cart" asp-action="AddToCart">
													<div class="form-group">
														<input type="hidden" name="itemId" value="@item.Id" />
														<input type="number" name="count" class="form-control" min="0" max="@item.AvailableCount" @((item.AvailableCount == 0) ? "disabled" : "")>
														<button type="submit" class="btn btn-light m-1" @((item.AvailableCount == 0) ? "disabled" : "")>

															<img src="~/vendor/img/cart.png" alt="AddToCart" height="30" width="30" />

														</button>

													</div>

												</form>
											}

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	}
</div>

